<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= data.name %>
    </title>
    <link rel="stylesheet" href="/styles/global.css">
</head>

<body>
    <div class="container">
        <section>
            <h1>Product#<span style="color: #007bff;">
                    <%= data.product_id %>
                </span> Details</h1>
            <div class="card">
                <img src="<%= data.image_url %>" alt="<%= data.name %>" class="card-image">
                <h1 class="card-title">
                    <%= data.name %>
                </h1>
                <p class="card-description">
                    Description: <%= data.description %>
                </p>
                <p class="card-description">
                    Price: <%= data.price %>
                </p>
                <p class="card-description">
                    Amount: <%= data.quantity %>
                </p>
                <a href="/" class="card-link">Back to Home</a>
            </div>
        </section>
    </div>
</body>

</html>